{% extends 'PrestaShopBundle:Admin/Common/Grid:grid_panel.html.twig' %}

{% block grid_panel_extra_content %}
    {% if grid.data.createDraftUrl is defined %}
        <input type="hidden" class="pl-create-endpoint" value="{{ grid.data.createDraftUrl }}"/>
        <input type="hidden" class="pl-draft-status" value="{{ grid.data.draftStatusUrl }}"/>
        <p id="pl-label-printed" hidden>{{ 'Printed'|trans }}</p>
        <p id="pl-label-ready" hidden>{{ 'Ready'|trans }}</p>
        <p id="pl-disable-popup" hidden>
            {{ 'Please disable pop-up blocker on this page in order to bulk open shipment labels'|trans }}
        </p>
        <p id="pl-print-labels-url" hidden>
            {{ grid.data.printLabelsUrl }}
        </p>
        <input type="hidden" class="pl-draft-in-progress-message"
               value="{{ 'Draft is currently being created.'|trans }}"/>
        <input type="hidden" class="pl-draft-failed-message"
               value="{{ 'Previous attempt to create a draft failed.'|trans }}"/>

        <a class="btn btn-default pl-create-draft-button pl-create-draft-template">
            <img
                    class="pl-image"
                    src="{{ grid.data.packlinkLogo }}"
                    alt="{l s='Packlink order draft' mod='packlink'}"
            >
            <span></span>
        </a>

        <a class="btn btn-default pl-draft-button pl-draft-button-template" target="_blank">
            <img
                    class="pl-image"
                    src="{{ grid.data.packlinkLogo }}"
                    alt="{{ 'Packlink order draft'|trans }}"
            >
            <span>{{ 'View on Packlink'|trans }}</span>
        </a>
    {% endif %}
{% endblock %}